<% content_for :page_title do %>
  <%= @active_sale_event.name %> &#62; <%= @active_sale_event.start_datetime.to_date %> &#62; <%= t('spree.active_sale.event.title.edit') %>
<% end %>

<div data-hook="admin_active_sale_event_edit_form">
  <div id="active-sale-event-form-wrapper">
    <%= form_for [:admin, @active_sale_event], :html => { :id => 'admin_active_sale_event', :multipart => true } do |form| %>
      <%= render :partial => 'form', :locals => { :form => form } %>
    <% end %>
  </div>
</div>
